@use "abstracts" as *;

.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  border-radius: 8px;
  background: $color-primary-10;
  padding: 4px 0px;
  z-index: 9;
  margin-left: 20px;

  &:focus, &:hover{
    cursor: pointer;
  }
}

.selectIcon {
  width: 30px;
  color: $color-neutral-light;
}

.selectContent {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: 0 0 8px 8px;
  background: $color-primary-10;
  margin-top: -10px;
  z-index: -9;
}

.selectSeparator {
  height: 1px;
  background-color: $color-neutral-light;
  margin-top: 10px;
  width: 80%;
}

.image {
  border-radius: 4px;
  max-width: clamp(22px, 1.2vw, 30px);
  max-height: clamp(15px, 1vw, 22px);
  margin-left: 10px;
}

.selectItem {
  padding-right: 30px;

  &[data-disabled]{
    pointer-events: none;
  }

  &[data-highlighted]{
    outline: none;
    cursor: pointer;
  }
}

