@use "abstracts" as *;

.container{
  flex-direction: column;
  background-image: url(/img/bg-secondary.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  @include start-pages;

  & > span{
    margin-bottom: 15px;
    color: $color-neutral-light;

    @include font-title;
  }

  & > p{
    color: $color-neutral-light-opacity-7;

    @include font-paragraph;
  }
}
