@use "abstracts" as *;

$height: 620px;
$min-heigth: 620px;

$heightL: 400px;
$min-heigthL: 400px;

.container{
  display: flex;
  align-items: center;
  width: 100%;
  height: $height;
  min-height: $min-heigth;
  background-color: $color-neutral-dark-opacity-9 !important;

  @include mobile-l{
    height: $heightL;
    min-height: $min-heigthL;
  }
}

.containerVideo{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: $height;
  min-height: $min-heigth;
  top: 0;
  left: 0;
  overflow: hidden;
  filter: hue-rotate(190deg);

  @include mobile-l{
    height: $heightL;
    min-height: $min-heigthL;
  }

  video{
    min-height: 100vh;
    min-width: 2000px;
    margin-top: -600px;

    @include mobile-l{
      min-height: 100vh;
      min-width: 2000px;
      margin-top: -600px;
      margin-left: -200px;
    }
  }
}

.descriptionPersonal{
  display: flex;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 20%;
  padding-top: 50px;

  @include desktop-m{
    gap: 10%;
  }

  @include desktop-g{
   align-items: center;
   text-align: center;
  }

  & button{
    @include desktop-g{
      display: none;
    }
    
    & img{
      transition: 0.5s;
  
      &:hover{
        scale: 1.05;
      }
  
      @include desktop-m{
        width: 250px;
        height: 350px;
      }
    }
  }
}

.gradient{
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(21, 21, 21, 0.8), $color-neutral-dark-opacity-9);
  width: 100%;
  height: 200px;
  margin-top: 370px;
  left: 0;

   @include mobile-l{
   display: none;
  }
}

.phraseStyle1 {
  color: $color-neutral-light;
  @include font-title-main;
}

.phraseStyle2 {
  color: $color-primary;
  @include font-title-main;
}

.phraseStyle3 {
  color: $color-neutral-light-opacity-6;
  @include font-subtitle;
}
