@use "abstracts" as *;

.container{
  flex-direction: column;

  @include padding-top-bottom;

  @include tablet{
    border-top: 10px solid $color-secondary-10;
    min-height: 740px
  }
}

.areaTitle{
  @include  padding-left-right;

  & h2{
    color: $color-primary;
    @include font-title-main-l;
  }

  & strong{
    color: $color-neutral-light;
    font-weight: 400;
  }

  & h3{
    color: $color-neutral-light-opacity-7;
    margin-top: 16px;

    @include font-description;
  }
}

.containerButton{
  margin: 40px 0;

  @include padding-left-right;

  @include tablet{
    padding: 0;
  }
}

.containerDescription{
  @include padding-left-right;
}