@use "abstracts" as *;

.ancora{
  position: absolute;
  margin-top: -100px;
  z-index: -100;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/bg-services-offered.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  @include padding-top-bottom;
}

.containerText{
  @include padding-left-right;

  & > h2{
    color: $color-neutral-light;
    margin-bottom: 15px;

    @include font-title;
  }

  & > p{
    color: $color-neutral-light-opacity-7;

    @include font-paragraph;
  }
}

.containerCards{
  margin-top: 50px;
  width: 100%;
  
  @include padding-left-right;

  @include mobile-l{
    padding: 0;
    overflow: hidden;
  }

  & > div{
    height: calc(100% + 20px);
    overflow-x: auto;
    overflow-y: hidden;

    & > div{
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      @include mobile-l{
        width: 250%;
        gap: 10px;

        @include padding-left-right;
      }
    }
  }
}