@use "abstracts" as *;

.footerTop{
  background: url(/img/bg-footer.svg);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  flex-direction: column;
  color: $color-neutral-light;
  border-top: 2px solid $color-primary;
  border-bottom: 2px solid $color-primary;

  @include font-title;
  @include start-pages;

  @include mobile-l{
    background: url(/img/bg-footer-responsive.svg);
  }

  & span{
    margin-bottom: 10px;
    
    @include font-animation-number;

    @include mobile-l{
      margin-bottom: 0;
    }
  }

  & a{
    margin-top: 24px;
    width: fit-content;
    color: $color-neutral-dark;

    @include font-button;

    @include mobile-l{
      margin-top: 15px;
    }
  } 
}

.footerBottom{
  color: $color-neutral-light;
  justify-content: space-between;
  gap: 40px;
  
  @include start-pages;

  @include desktop-m{
    flex-wrap: wrap;
  }

  span{
    @include font-subtitle;
  }

  h4, 
  li,
  a{
    color: $color-neutral-light-opacity-7;
    margin-top: 24px;  

    @include font-description-l;
  }
  
  div{
    height: fit-content;

    @include mobile-l{
      margin-right: 0;
      min-width: fit-content;
    }
  }

  .mapSite{
    margin-bottom: 40px;
    white-space: nowrap;

    & ul{
      & li{
        & > a{
          transition: 0.3s;
  
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
   
  }

  .contact{
    a{
      margin-bottom: 20px;
      color: $color-neutral-dark;
      
      @include font-button;
    }
  }

  .mapBox{
    position: relative;

    @include desktop-m{
      width: 100%;
    }

    & > div{
      display: flex;
      align-items: center;
      justify-content: center;

      & > iframe{
        width: 300px;
        margin-top: 24px;
        border: none;
        height: 250px;

        @include desktop-m{
          width: 100%;
        }
      }
    }
  }
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-neutral-mid-opacity-5;
  color: $color-neutral-light;

  @include spacing-header;
  @include font-copyright;
}