@use "abstracts" as *;

.globalButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  cursor: pointer;
  white-space:nowrap;
  transition: box-shadow 0.3s;
  padding: clamp(5px, 0.5vw, 10px) clamp(5px, 0.8vw, 10px);
  
  @include font-button;
}

.primary{
  background-color: $color-primary-10;
  color: $color-neutral-light;

  &:hover{
    background: linear-gradient(94deg, $color-primary-10 0%, $color-primary 100%);
    box-shadow: 0px 0px 16px 4px $color-primary-10;
  }
}

.secondary{
  border: 2px solid $color-primary;
  background: $color-primary;

  &:hover{
    border: 2px solid $color-primary;
    background: $color-neutral-dark;
    box-shadow: 0px 0px 16px 4px $color-primary-10;
  }
}

.tertiary{
  background-color: $color-primary;

  &:hover{
    background: linear-gradient(94deg, $color-primary-10 0%, $color-primary 100%);
    box-shadow: 0px 0px 16px 4px $color-primary-10;
  }
}

.quaternary{
  border: 2px solid $color-primary;
  color: $color-primary;

  &:hover{
    border: 2px solid $color-primary;
    background: $color-neutral-dark;
    box-shadow: 0px 0px 16px 4px $color-primary-10;
    color: $color-primary;
  }
}

