@use "abstracts" as *;

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  color: $color-neutral-light;
  padding: 0 20px;
  margin-bottom: 50px;

  @include mobile-l{
    margin-bottom: 20px
  }

  @include font-animation-text;

  & > div{
    text-align: center;
  }
}

.alignmentNumberCounter{
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;

  & > div{
    margin-right: 10px;

    @include font-animation-number;
  }
}