@use "./mixin" as *;

$padding-desktop: 80px clamp(80px, 9vw, 160px);
$padding-desktop-l: 50px clamp(10px, 8.3vw, 80px);

@mixin spacing-header(){
  padding: clamp(10px, 2vh, 20px) clamp(80px, 9vw, 160px);

  @include desktop-l{
    padding: clamp(10px, 2vh, 20px) clamp(10px, 8.3vw, 80px);
  }
}

@mixin centered-pages() {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: $padding-desktop;

  @include desktop-l{
    padding: $padding-desktop-l;
  }
}

@mixin start-pages() {
  display:flex;
  padding: $padding-desktop;

  @include desktop-l{
    padding: $padding-desktop-l;
  }
}
