@use "abstracts" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: $color-neutral-dark-opacity-8;
  backdrop-filter: blur(7px);

  @include spacing-header;
}

.logoCompany{
  & img{
    width: clamp(80px, 20vw, 150px);
    height: clamp(30px, 3vw, 50px);
  }
}

.areaMenu {
  display: flex;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include tablet{
      display: none;
    }
  }

  &  > a {
    margin-left: 30px;

    @include mobile-l{
      display: none;
    }
  }
}

.link {
  text-decoration: none;
  color: $color-neutral-light;
  cursor: pointer;
  transition: 0.3s;

  @include font-link;

  &:hover {
    color: $color-primary;
  }
}

