@use "abstracts" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: $color-neutral-dark-opacity-8;

  @include spacing-header;
}

.logoCompany{
  width: clamp(80px, 20vw, 150px);
  height: clamp(30px, 5vw, 50px);
}

.filterBlur {
  backdrop-filter: blur(7px);
}

.areaMenu {
  display: flex;

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-l{
      display: none;
    }
  }

  & li {
    margin: 0px 20px;
    transition: 0.3s;
  }

}

.buttonLink{
  margin-left: 30px;

  @include mobile-l{
    display: none;
  }
}

.link {
  text-decoration: none;
  color: $color-neutral-light;

  @include font-link;

  &:hover {
    color: $color-primary;
  }
}

